.App {
  text-align: center;
  margin: 20px auto;
}

#header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

h1 {
  color: cornflowerblue;
}

ul {
  list-style-type: none;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  background-color: #24a0ed;
  color: white;
}

.btn-delete {
  background-color: red;
}
